/* Box Transitions when clicked on */

div {
    width:100px;
    height:100px;
    background: purple;
    transition: width 2s, height 2s, transform 2s;
}
div:hover {
    width:200px;
    height:200px;
    transform:rotate(180deg);
}

    /* Delay transition start for 2 seconds */
    /* transition-delay: 2s; */
    /* Play transition slow and beginning and end */
    /* transition-timing-function: ease-in-out;

