h1 {
    font-size:90px;
    color:white;
}

p{
    margin:35px 0px;
    color:brown;
}

/* id */
#intro {
    font-family:"Verdana","Courier New";
}

/* class */
/* .intro {
    font-family:"Tahoma";
} */

body {
    background-color: purple;
}